<h1 class="mat-h1">Build Your Rainbow Six Siege Game</h1>
<div class="row">
    <div class="column">
        <player-enter [showRoles]="false" (playersList)="updatePlayersList($event)"></player-enter>
    </div>
    <div class="column">
        <map [mapList]="mapsData" [filterTypes]="filters" type="map" (filter)="getFilteredMaps($event)" (maps)="pickedMaps($event)"></map>
    </div>
</div>
<br>
<br>
<display-game-data [playersForTeams]="playersForTeams" [mapPool]="mapsForGame"></display-game-data>