// mat-nav-list {
//     background-color: #B71C1C;
// }

h3 {
    padding-top: 20px;
    padding-left: 10px;
}

.label {
    color: #B71C1C;
}

.header {
    cursor: pointer;
}

.example-spacer {
    flex: 1 1 auto;
}

.body {
    height: 95vh;
    padding: 15px;
}